@charset "UTF-8";
/* Style commun */
body, html {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Style de la popup d'erreur */
.error-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 1000;
}

/* Style de la page de login */
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container .subtitle {
    text-align: center;
    font-size: 14px; /* Taille de texte plus petite pour le sous-titre */
    color: #555; /* Couleur grise pour le sous-titre */
    margin-bottom: 30px; /* Espace entre le sous-titre et le formulaire */
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input, .login-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.login-container button:hover {
    background-color: #45a049;
}

/* Style des onglets et du contenu des onglets */
.tab {
    overflow: hidden;
    background-color: #f4f4f4; /* Fond foncé par défaut */
    border: 1px solid #ccc;
}

.tab button {
    background-color: #ccc; /* Couleur de fond foncée pour les onglets inactifs */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black; /* Texte en blanc pour contraster avec le fond foncé */
}

.tab button:hover {
    background-color: #eee; /* Couleur légèrement plus claire au survol */
}

.tab button.active {
    background-color: #eee; /* Couleur de fond claire pour l'onglet actif */
    color: black; /* Texte noir pour l'onglet actif */
}

.tab button.notification {
    background-color: yellow; /* Couleur de fond pour la notification */
    color: black; /* Texte noir pour la notification */
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
}


/* Style de la page principale */
.container {
    display: flex;
    height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
}

.left-column, .right-column {
    flex: 1;
    margin: 10px;
    overflow: hidden; /* Évite que les colonnes débordent */
}

.user-list-container, .room-list-container {
    height: calc(100vh - 120px); /* Ajuster en fonction de la hauteur de la fenêtre */
    overflow-y: auto;
}

.user-table, .room-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td, .room-table th, .room-table td {
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

.user-male {
    background-color: lightblue;
}

.user-female {
    background-color: lightpink;
}

.chat-window {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    height: calc(100vh - 200px); /* Ajuster en fonction de la hauteur de la fenêtre */
    overflow-y: auto;
}

.icon-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-buttons svg {
    margin-left: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.chat-room-container {
    display: flex;
}

.chat-window {
    flex: 3;
    overflow-y: auto;
}

.room-user-list {
    flex: 1;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 40px; /* Ajoutez de l'espace au-dessus de la liste des utilisateurs pour éviter le chevauchement avec les icônes */
}